/**********************
    REGOLE GENERALI
***********************/

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #0f0f0f;
    --color-gold: #d4af37;
    --color-wine: #6b0f1a;
    --color-text: #DDE3D7;
}

body {
    font-family: cursive;
    font-size: 13px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************
    CLASSI RIUTILIZZABILI
***************************/
.container {
    max-width: 1300px;
    margin: 20px auto;
}

/*************
    HEADER
**************/
header {
    height: 60px;
}

/** Navbar */
nav {
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

/** Links */
.container-links-lr {
    display: flex;
    gap: 20px;
}

/* Icona calice preferiti */
.icon {
    width: 30px;
    height: 30px;
}
