/**********************
    REGOLE GENERALI
***********************/

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #150A0C; 
    --color-border: #242323;
    --color-border-focus: #393838;
    --color-wine: #211214;
    --color-light-wine: #2e191b;
    --color-grey: rgb(134, 134, 134);
    --color-light-grey: #d2d2d2;
    --color-gold: #D3A138;
    --color-light-gold: #876049;
    --color-light-brown: #77665d;
}

body {
    font-family: cursive;
    font-size: 13px;
    letter-spacing: 2.5px;
    background-color: var(--color-bg);
    color: var(--color-light-grey);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************
    CLASSI RIUTILIZZABILI
***************************/
.container-page {
    max-width: 1340px;
    padding: 0 20px;
    margin: 35px auto;
}

.flex-row {
    display: flex;
}

.nessun-risultato {
    margin-top: 50px;
    font-size: 1.3rem;
    font-style:oblique;
}

/*************
    HEADER
**************/
header {
    height: 80px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 30px;
}

/** Navbar */
.navbar {
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light-brown);
    
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    height: 60px;
}

/** Links */
.container-links-lr {
    display: flex;
    gap: 20px;
}




.nav-link:hover, .confronto:hover {
    color: var(--color-gold);
}

.nav-link.active {
    color: var(--color-gold);
}

/** Links */
.container-links-lr * {
    font-size: 19px;
    background: none;
    border: none;
    cursor: pointer;
}

.home:hover, .vini:hover {
    color: var(--color-gold);
}

.index-sup {
    font-size: 12px;
    font-weight: bold;
   
}
/***********
    MAIN
***********/

    /****************
        LISTA VINI
    *****************/

        /** FILTRI E ORDINAMENTI */

        /* Searchbar */
        .container-searchbar {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            width: 355px;
            height: 44px;
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid var(--color-border);
            background-color: var(--color-wine);
        }

        .container-searchbar:focus-within {
            border: 1px solid var(--color-gold);
        }

        .searchbar {
            border: none;
            outline: none;
            font-size: 1rem;
            background-color: var(--color-wine);
            color: var(--color-light-brown);
            width: 100%;
        }

        .searchbar::placeholder, .icona-ricerca {
            color: var(--color-light-brown);
        }

        /* Bottoni Filtri */
        .container-filtri-e-ordinamenti {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-filtri, .btn-indietro {
            padding: 11px 33px;
            margin-right: 10px;
            background-color: var(--color-bg);
            color: var(--color-light-brown);
            border: 1px solid var(--color-border);
            cursor: pointer;
        }

        .btn-filtri:hover {
            color: var(--color-gold);
            border: 1px solid var(--color-gold);
        }

        .btn-filtri.active, .btn-indietro:hover {
            color: var(--color-gold);
            border: 1px solid var(--color-gold);
            background-color: var(--color-light-wine);
        }

        /* Select Ordinamenti */
        .container-ordinamenti {
            border: 1px solid var(--color-border);
            padding: 11px 20px;
            background-color: var(--color-bg);
        }

        .select-ordinamenti {
            background: transparent;
            border: none;
            outline: none;
            color: var(--color-light-brown);
            background-color: var(--color-bg);
            cursor: pointer;
            font-size: 1rem;
        }

        .container-ordinamenti:hover .select-ordinamenti {
            color: var(--color-gold);
        }

        .filtri-divider {
            border-bottom: 1px solid var(--color-border);
            margin-bottom: 50px;
        }

        /** LISTA VINI */

        /* Card */
        .container-vino-card {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        .vino-card {
            flex-basis: calc((100% - 60px) / 3);
            text-align: center;
            border: 1px solid var(--color-border);
            background-color: var(--color-wine);
            padding: 50px 30px;
            position: relative;
        }

        .vino-img {
            height: 380px;
            object-fit: contain;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .vino-img:hover {
            transform: translateY(-6px);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
        }

        .vino-card h4 {
            letter-spacing: 3px;
            color: var(--color-gold);
        }

        .container-icone-card {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .container-icone-card *, .container-icone-card-dettaglio * {
            margin: 0 2px;
            font-size: 19px;
            background: none;
            border: none;
            cursor: pointer;
        }

        .color-gold {
            color: var(--color-gold);
        }

        .color-light-brown{
            color: var(--color-light-brown);
        }

    /*******************
        DETTAGLIO VINO
    ********************/

    .vino-header {
        text-align: center;
    }

    /* tipo vino */
    .tipo-vino-dettaglio {
        font-size: 0.7rem;
        padding: 8px;
        margin: 0 auto 13px;
        max-width: 190px;
        color: var(--color-gold);
        border: 1px solid var(--color-gold);
        opacity: 0.65;
        
    }

    .vino-titolo {
        font-size: 2.5rem;
    }

   /** Colonna sinsitra */
   .container-vino-layout {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       width: 65%;
      
   }

    .img-vino-dettaglio {
        width: 380px;
    }
   
   /** Colonna destra */
   .container-prezzo-icons {
    display: flex;
    align-items: center;
    gap: 20px;    
   }

   /* prezzo */
   .vino-prezzo {
       font-size: 32px;
       color: var(--color-gold);
   }

    /* linea decorativa */
    .piccola-linea-dettaglio {
        border: 1px solid var(--color-gold);
        width: 80px;
        opacity: 0.25;
        margin: 15px 0;
    }

   /* descrizione */
   .descrizione {
       padding: 10px 0 15px;
   }

   .descrizione h4 {
       font-weight: normal;
       color: var(--color-light-brown);
   }

   .descrizione p {
       font-style: oblique;
       margin: 10px 0 25px;
   }

   /* info vino */
   .vino-dettaglio-info-left-right {
       display: flex;
       gap: 60px;
       margin: 20px 0 30px;
   }

   /* singola riga info */
   .info-item {
       align-items: center;
       gap: 15px;
       margin-bottom: 22px;
   }

   /* icone */
   .icone-info-dettaglio {
       color: var(--color-gold);
       font-size: 20px;
       min-width: 22px;
   }

   /* titoli info */
   .info-dettaglio h4 {
       font-size: 0.7rem;
       color: var(--color-light-brown);
   }

   /* valori info */
   .info-dettaglio p {
       font-size: 1rem;
   }

